<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="sidebarFragment">

	<aside class="main-sidebar sidebar-dark-primary elevation-4">
		<!-- Brand Logo -->
		<a href="main" class="brand-link"> <img src="../dist/img/logo.png"
				alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8"> <span
				class="brand-text font-weight-light">Isseyo?!</span>
		</a>

		<!-- Sidebar -->
		<div class="sidebar">
			<!-- Sidebar Menu -->
			<nav class="mt-2">
				<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
					data-accordion="false">
					<!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
					<li class="nav-header">Dashboard</li>
					<li class="nav-item"><a href="/productMain" class="nav-link">
							<i class="nav-icon fas fa-th"></i>
							<p>
								품목관리
								<!-- <i class="fas fa-angle-left right"></i> -->
							</p>
						</a>
						<!-- <ul class="nav nav-treeview">
								<li class="nav-item">
									<a href="pages/layout/top-nav.html" class="nav-link">
										<i class="far fa-circle nav-icon"></i>
										<p>Top Navigation</p>
									</a>
								</li>
							</ul> -->
					</li>

					<li class="nav-item"><a href="productView" class="nav-link">
							<i class="nav-icon fas fa-th"></i>
							<p>
								재고관리 <span class="badge badge-info right">2</span>
							</p>
						</a></li>
					<li class="nav-item"><a href="apiView" class="nav-link"> <i class="nav-icon fas fa-th"></i>
							<p>
								API <span class="badge badge-info right">2</span>
							</p>
						</a></li>
					<!-- <li class="nav-header">LABELS</li> -->
					<!-- <li class="nav-item">
							<a href="#" class="nav-link">
								<i class="nav-icon far fa-circle text-danger"></i>
								<p class="text">Important</p>
							</a>
						</li>
						<li class="nav-item">
							<a href="#" class="nav-link">
								<i class="nav-icon far fa-circle text-warning"></i>
								<p>Warning</p>
							</a>
						</li>
						<li class="nav-item">
							<a href="#" class="nav-link">
								<i class="nav-icon far fa-circle text-info"></i>
								<p>Informational</p>
							</a>
						</li> -->
				</ul>
			</nav>
			<!-- /.sidebar-menu -->
		</div>
		<!-- /.sidebar -->
	</aside>
	<!-- /.aside -->

</th:block>

</html>