<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<!-- 최신 SpringBoot 에서는 layout:decorate="~{layout/layout}" 으로 사용 -->

<th:block layout:fragment="content">
	<!-- Preloader -->
	<div class="preloader flex-column justify-content-center align-items-center">
		<img class="animation__shake" src="./dist/img/logo.png" alt="Isseyo?!" height="60" width="60">
	</div>
	<div class="content-wrapper">
		<!-- Content Header (Page header) -->
		<div class="content-header">
			<div class="container-fluid">
				<div class="row mb-2">
					<div class="col-sm-6">
						<h1 class="m-0">Dashboard</h1>
					</div>
					<!-- /.col -->
					<div class="col-sm-6">
						<ol class="breadcrumb float-sm-right">
							<li class="breadcrumb-item"><a href="#">Home</a></li>
							<li class="breadcrumb-item active">Dashboard</li>
						</ol>
					</div>
					<!-- /.col -->
				</div>
				<!-- /.row -->
			</div>
			<!-- /.container-fluid -->
		</div>
		<!-- /.content-header -->

		<!-- Main content -->
		<section class="content">
			<div class="container-fluid">
				<!-- Small boxes (Stat box) -->
				<div class="row">
					<div class="col-lg-3 col-6">
						<!-- small box -->
						<div class="small-box bg-info">
							<div class="inner">
								<h3 th:text="${orderCount}">0</h3>
								<p>신규 주문</p>
							</div>
							<div class="icon">
								<i class="ion ion-bag"></i>
							</div>
						</div>
					</div>
					<!-- ./col -->
					<div class="col-lg-3 col-6">
						<!-- small box -->
						<div class="small-box bg-success">
							<div class="inner">
								<h3 th:text="${payCount}">0</h3>
								<p>결제 현황</p>
							</div>
							<div class="icon">
								<i class="ion ion-stats-bars"></i>
							</div>
						</div>
					</div>
					<!-- ./col -->
					<div class="col-lg-3 col-6">
						<!-- small box -->
						<div class="small-box bg-warning">
							<div class="inner">
								<h3 th:text="${productCount}">0</h3>
								<p>품목 수량</p>
							</div>
							<div class="icon">
								<i class="ion ion-person-add"></i>
							</div>
						</div>
					</div>
					<!-- ./col -->
					<div class="col-lg-3 col-6">
						<!-- small box -->
						<div class="small-box bg-danger">
							<div class="inner">
								<h3>0</h3>
								<p>결제 취소</p>
							</div>
							<div class="icon">
								<i class="ion ion-checkmark"></i>
							</div>
						</div>
					</div>
					<!-- ./col -->
				</div>
				<!-- /.row -->
				<!-- Main row -->
				<div class="row">
					<!-- Left col -->
					<section class="col-lg-6">
						<!-- Custom tabs (Charts with tabs)-->
						<div class="card">
							<div class="card-header">
								<h3 class="card-title">
									<i class="fas fa-chart-bar mr-1"></i>주문 현황
								</h3>
								<!-- <div class="card-tools">
								<ul class="nav nav-pills ml-auto">
									<li class="nav-item">
										<a class="nav-link active" href="#revenue-chart" data-toggle="tab">Area</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="#sales-chart" data-toggle="tab">Donut</a>
									</li>
								</ul>
							</div> -->
							</div>
							<!-- /.card-header -->
							<div class="card-body">
								<canvas class="chart" id="line-chart"
									style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
							</div>
							<!-- /.card-body -->
						</div>
						<!-- /.card -->
					</section>
					<!-- /.Left col -->
					<!-- right col (We are only adding the ID to make the widgets sortable)-->
					<section class="col-lg-6">
						<div class="card">
							<div class="card-header">
								<div class="d-flex justify-content-between">
									<h3 class="card-title">
										<i class="fas fa-chart-pie mr-1"></i> 재고 현황
									</h3>
								</div>
							</div>
							<div class="card-body">
								<div class="position-relative mb-4">
									<canvas id="sales-chart" height="200"></canvas>
								</div>
								<div class="d-flex flex-row justify-content-end">
								</div>
							</div>
						</div>
						<!-- /.card -->
					</section>
					<!-- right col -->
				</div>
				<!-- /.row (main row) -->
			</div>
			<!-- /.container-fluid -->
		</section>
		<!-- /.content -->
	</div>
	<!-- /.content-wrapper -->
	<script th:inline="javascript">
		/*<![CDATA[*/
		var orderList = [[${orderList}]];
		console.log(orderList);

		var payList = [[${payList}]];
		console.log(payList);
		/*]]>*/
		
		var orderColumn = [];
		var orderData = [];
		
		var payColumn = [];
		var payData = [];
		
		for(var i = 0; i < orderList.length; i++){
			orderColumn.push(orderList[i].productName);
			orderData.push(orderList[i].numCount);
		}
		console.log(orderColumn)
		console.log(orderData)
		
		for(var i = 0; i < payList.length; i++){
			payColumn.push(payList[i].productName);
			payData.push(payList[i].numCount);
		}
		console.log(orderColumn)
		console.log(orderData)
		
		// bar chart
		var ProductChartCanvas = document.getElementById('line-chart').getContext('2d')

		var ProductChartData = {
			labels: orderColumn,
			datasets: [
				{
					label: '주문량',
					backgroundColor: 'rgba(60,141,188,0.9)',
					borderColor: 'rgba(60,141,188,0.8)',
					pointRadius: false,
					pointColor: '#3b8bba',
					pointStrokeColor: 'rgba(60,141,188,1)',
					pointHighlightFill: '#fff',
					pointHighlightStroke: 'rgba(60,141,188,1)',
					data: orderData
				},
			]
		}

		var ProductChartOptions = {
			maintainAspectRatio: false,
			responsive: true,
			legend: {
				display: false
			},
			scales: {
				xAxes: [{
					gridLines: {
						display: false,
					}
				}],
				yAxes: [{
					gridLines: {
						display: false,
					}
				}]
			}
		}

		//var barChartCanvas = document.getElementById('barChart').getContext('2d')
		var barChartData = $.extend(true, {}, ProductChartData)

		var barChartOptions = {
			responsive: true,
			maintainAspectRatio: false,
			datasetFill: false
		}

		new Chart(ProductChartCanvas, {
			type: 'bar',
			data: barChartData,
			options: barChartOptions
		})

		// 파이차트

		var donutChartCanvas = document.getElementById('sales-chart').getContext('2d')
		var donutData = {
			labels: payColumn,
			datasets: [
				{
					data: payData,
					backgroundColor: ['#f56954', '#00a65a', '#f39c12', '#00c0ef', '#3c8dbc', '#d2d6de'],
				}
			]
		}
		var donutOptions = {
			maintainAspectRatio: false,
			responsive: true,
		}

		//var pieChartCanvas = document.getElementById(pieChart).getContext('2d')
		var pieData = donutData;
		var pieOptions = {
			maintainAspectRatio: false,
			responsive: true,
		}
		//Create pie or douhnut chart
		// You can switch between pie and douhnut using the method below.
		new Chart(donutChartCanvas, {
			type: 'pie',
			data: pieData,
			options: pieOptions
		})

	</script>

</th:block>